@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo!</h1>
    <p>Mais sobre meus projetos <a href="https://github.com/TeixeiraBriel?tab=repositories" target="_blank">Gabriel Teixeira | GitHub</a>.</p>
</div>

<div class="text-center">
    <h1>
        <a class="nav-link text-dark display-4" asp-area="" asp-controller="Fragmentos" asp-action="Sequencia" asp-route-id="1">Jogar</a>
    </h1>
</div>
