@model fragmentoHistoria
@{
    ViewData["TituloPasso"] = Model.TituloFragmento;
    ViewData["IdFragmentoHistoria"] = Model.IdFragmentoHistoria;
    ViewData["TextoPasso"] = Model.TextoFragmento;
}

<h1>Novo Passo</h1>
<br />
<h5>Passo Anterior:</h5>

<div class="form-row" style="margin-bottom: 10px">
    <div class="col">
        <input type="text" class="form-control" placeholder="@ViewData["TituloPasso"]" readonly>
    </div>
    <div class="col">
        <input type="text" class="form-control" placeholder="@ViewData["TextoPasso"]" readonly>
    </div>
</div>

<h5>Passo Novo:</h5>
<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Titulo">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Descrição">
        </div>
    </div>
    <input type="text" class="form-control" value="@ViewData["IdFragmentoHistoria"]" hidden>

    <button type="submit" class="btn btn-primary" style="margin-top:10px">Submit</button>
</form>